:root {
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --heading-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --picture-background-color: rgba(47, 48, 58, 0.8);
  --footer-background-color: #2f303a;
  --filter-background-color: #f5f4fa;
}

/* Common */

body {
  background-color: var(--primary-white-color);
  color: var(--paragraph-text-color);
  font-family: roboto, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  text-decoration: none;
}

/* Header */

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--heading-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
  text-decoration: none;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: var(--picture-background-color);
}

.hero .hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Advantages */

.advantage-icon {
  background-color: #f5f4fa;
}

.advantages-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-text-color);
}

/* Company direction */

.direction-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--picture-background-color);
}

/* Our team */

.team {
  background-color: var(--secondary-background-color);
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.team-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio */

.filter .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--heading-text-color);
  background-color: var(--filter-background-color);
}

.filter .link:hover,
.filter .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.examples .hover-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.examples-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.06em;
  color: var(--heading-text-color);
}

.examples .description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */

footer {
  background-color: var(--footer-background-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.adress-location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
