:root {
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --heading-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --picture-background-color: rgba(47, 48, 58, 0.8);
  --footer-background-color: #2f303a;
}

/* Common */

body {
  background-color: var(--primary-white-color);
  color: var(--paragraph-text-color);
  font-family: roboto, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.filter-button{
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  color: var(--heading-text-color)

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
  margin 0 auto;
}

/* Header */

.page-header{
  border: 1px solid #ECECEC
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--heading-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--heading-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav{
  display: flex;
  margin-left: 85px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  text-decoration: none;
}

.contacts .item:not(:last-child){
margin-right: 30px;
} 

.contacts{
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header{
  align-items: center;
  display: flex;
}

.page-nav{
  align-items: center;
  display: flex;
}

.address{
  margin-left: auto;
}

.contacts-logo{
  margin-right: 10px;
}

/* Hero */

.hero {
  background-color: var(--picture-background-color);
  text-align: center;
}

.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

/* Advantages */

.advantages{
  padding-bottom: 0;
}

.advantage-icon {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages-description {
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--heading-text-color);

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list .item{
  width: 270px;
}

.advantages-list .item:not(:last-child){
  margin-right: 30px;
}

/* Company direction */

.direction-title {
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-white-color);
  background-color: var(--picture-background-color);

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.direction-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.direction-list .item.item:not(:last-child){
  margin-right: 30px;
}

/* Our team */

.team {
  background-color: var(--secondary-background-color);
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.team-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list{
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list .item{
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child){
  margin-right: 30px;
}

.social-media-list .social-item:not(:last-child){
  margin-right: 10px;
}

.social-media-list{
  padding-left: 0;
  display: flex;
  justify-content: center;
}

/* Clients */

.clients-list{
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-list .item:not(:last-child){
  margin-right: 30px;
}

/* Portfolio */

.filter-value{
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.filter-value .item{
  margin-right: 8px;
}

.filter .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--heading-text-color);
  background-color: var(--secondary-background-color);
}

.filter .link:hover,
.filter .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Portfolio-examples */

.examples-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.examples-list .item{
  align-items: flex-start;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #EEEEEE;
}

.examples-list .item:hover,
.examples-list .item:focus{
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.examples-list .item:nth-child(3n) {
  margin-right: 0px;
}

.hover-text{
  width: 370px;
}

.examples-img{
  border: 0;
}

.examples .hover-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.examples-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;

  /* font-family: roboto; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.06em;
  color: var(--heading-text-color);
}

.examples-list .item .description {
  margin-left: 24px;
  margin-top: 4px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */

footer {
  background-color: var(--footer-background-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.adress-location {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contacts {
  margin-top: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-contacts-list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer{
  display: flex
}

.company-info{
  margin-top: 60px;
  margin-bottom: 60px;
}

.social-links{
  margin-top: 72px;
  margin-left: 69px;
}

.subscribe{
  margin-top: 72px;
  margin-left: 94px;
}

.social-links .social-media-list{
  margin-top: 20px;
  margin-bottom: 0px;
}
